header {
    text-align: center;
}
nav {
    text-align: center;
}
#texto1 {
    background-color: cornflowerblue;
    height: 300px;
    width: 800px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    display: inline-block;
    width: 700px;
}

#texto2 {
    background-color: cornflowerblue;
    height: 300px;
    width: 800px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
